# {{ project_name }}
{{ package_description }}

## Installation
{% if meta == "poetry" %}
```bash
poetry add {{ project_name }}
```
{% elif meta == "pdm" %}
```bash
pdm add {{ project_name }}
```{% else %}
```bash
pip install {{ project_name }}
```{% endif %}

## Usage
```python
{% for tag in endpoint_collections_by_tag.keys() %}
from {{ package_name }} import {{ python_identifier(tag) }}
{% endfor %}
```